<div class='container'>
  <h2>シナリオ詳細</h2>
  <div class="row">
    <p><%= @scenario.genre.name %></p>
  </div>
  <div class="row">
    <h2><%= @scenario.title %></h2>
    <h4>作成者<%= @user.name %></h4>
  </div>
  <div class="row">
    <p><%= @scenario.overview %></p>
  </div>
  <div class="row">
    <p><%= @scenario.content %></p>
  </div>
  <% if @scenario.user == current_user || @user.admin? %>
    <p><%= link_to "編集", edit_scenario_path(@scenario), class:"btn btn-sm btn-success" %></p>
    <td><%= link_to '削除', @scenario, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@scenario.id}"%></td>
  <% end %>
  
  <div>
  <p>コメント件数：<%= @scenario.comments.count %></p>
  <% @scenario.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if comment.user == current_user || (user.admin == true) %>
      <%= link_to "削除", scenario_comment_path(comment.scenario, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@scenario, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
  
  <%= render "favorites/iine", scenario: @scenario %>
  
</div>

